__pycache__/
.pytest_cache/
.config/
venv/
.upm/
.git/

.breakpoints
.env


api_calls.log
api_counter.json
critical_error.log
rate_limit_data.json
repair_log.txt
role_scripts.json
run.txt
temp.py

.replit
replit.nix
poetry.lock

users/*
work/*
