__pycache__/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.config/
venv/
.upm/
.git/
.vscode/


.breakpoints
.env


*.log
api_counter.json
rate_limit_data.json
role_scripts.json
temp.py

.replit
replit.nix
poetry.lock

**/users/*
**/work/*
