# Cache
__pycache__/
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Configuration settings
.vscode/
.config/
.env

# logs
*.log
.breakpoints

# temporary data
**/users/*
**/work/*
api_counter.json
rate_limit_data.json
role_scripts.json
temp.py

# virtual environments
venv/
.venv/
.replit
replit.nix
poetry.lock

# Test results
test-results/

# Coverage data
.coverage
htmlcov/

# build files
*.egg-info/

.upm/
.git/
